[[source]]
name = "mold"
url = "https://pypi.org/mold-cli"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
mold = {path = "."}
markdown = "*"
twine = "*"
requests = "*"

[requires]
python_version = "3.7.2"
